extends layout

block scripts
  script(src='/javascripts/jquery-1.7.1.min.js')
  script(src='/javascripts/bootstrap/2.2.2/bootstrap.min.js')

block content
  .container
    ul.nav.nav-pills.pull-right
      li
        a(href="/") home
      li
        a(href="/snippet/create") create
    h1 snippets      
    hr


    #successMsg.alert.alert-success.hide
      button.close(type="button", data-dismiss="alert") x
      div Snippet deleted successfully

    for snippet in snippets
      .snippet(data-id="#{snippet.id}")
        .edit.pull-right 
          a(href="/snippet/#{snippet.id}") edit&nbsp;
          a(href="#myModal", data-toggle="modal", onclick="markSnippet('#{snippet.id}')") delete
        .title #{snippet.title}
        pre.code #{snippet.code}
    else
      p no snippets exist, 
        a(href="/snippet/create") create one
    
    //Progress Bar
    #progress.hide
      .progress.progress-striped.active
        .bar(style="width: 30%;")
      p(style="text-align:center;margin-top:-15px;padding:0;font-size:90%") Sending request to the server
      

  //Modal
  #myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
      h3#myModalLabel Delete Snippet
    .modal-body
      p Are you sure you want to delete this snippet?
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      button.btn.btn-danger(onclick="deleteSnippet()") Delete
  
  //javascript
  script(type='text/javascript')
    var snippetId = undefined;

    function markSnippet(id) {
      snippetId = id;
    }

    // show and hide the edit link on mouseover
    $('.snippet').on("mouseover", function() {
      $(this).children('.edit').css('display', 'block');
    });

    $('.snippet').on("mouseout", function() {
      $(this).children('.edit').css('display', 'none');
    });

    function deleteSnippet() {
      $('#progress').removeClass('hide');
      $('#myModal').modal('hide');

      $.ajax({
        url: "/snippet/" + snippetId,
        type: "DELETE",
        cache: false
      }).done(function(msg) {
        $('div.snippet').each(function(i) {
          if($(this).data('id') === snippetId) {
            $(this).remove();
          }
        });
        $('#successMsg').removeClass('hide');  
      }).fail(function() {
        alert('delete failed ' + errorThrown);
      }).always(function() {
        $('#progress').addClass('hide');
      });
    }